* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --var-color-h1: #34355B;
    --var-color-h2: #34355B;
    --var-background-color-message: #000;
}

body {
    
}